Usuario: <input id="tweet-user" type="text" name="user" value="">
Qué vas twitear:
<textarea id="tweet-text" name="text" rows="8" cols="80"></textarea>
<button type="button" name="button" onclick="sendTweet()">Twitea!</button>
