email: <input id="email" type="text" name="email" value="">
password: <input id="password" type="password" name="password" value="">

<button type="button" name="button" onclick="login()">Login!</button>
