<script type="text/javascript" src="/javascripts/login.js">
</script>
<form id="login-form" onsubmit="return login();">
  Email:<input type="text" name="email" value="">
  Password:<input type="password" name="password" value="">
  <button>Login</button>
</form>
