<form class="" action="/api/users" method="post">
  Name: <input type="text" name="name" value="">
  Email: <input type="text" name="email" value="">
  Password: <input type="password" name="password" value="">
  Age: <input type="text" name="age" value="">
  <input type="submit" value="Registrar">
</form>
