<h1>signup</h1>

email: <input id="email" type="text" name="email" value="">
password: <input id="password" type="password" name="password" value="">

<button type="button" name="button" onclick="signup()">Sign up!</button>
